.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 80px;
    background-color: rgba(115, 115, 115, 0.841);
    padding: 10px;
    border-radius: 30px;
}
.Nav-container {
    margin-bottom: 40px;
}