body{
    margin: auto;
}
.bd-home {
    background: url('https://plus.unsplash.com/premium_photo-1712175879037-86f0007dc7dd?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGElMjB0aWVycmElMjBkZXNkZSUyMGVsJTIwZXNwYWNpb3xlbnwwfHwwfHx8MA%3D%3D') center/cover no-repeat fixed;
}
.date-links {
    list-style: none;
    padding-top: 0;
    margin-top: 0;
    justify-content: center;
}
.date-links > li {
    max-width: 60%;
}
.fecha {
    margin: 20px;
    font-size: 30px;
    background-color: rgba(78, 78, 78, 0.841);
    border-radius: 50px;
    padding: 5px;
}
h1 {
    transform: translateY(-60px);
    margin-top: 0;
}