.date-links {
    list-style: none;
    padding-top: 0;
    margin-top: 0;
}
.fecha {
    margin: 20px;
    font-size: 30px;
    background-color: rgb(200, 63, 0);
    border-radius: 50px;
}
h1 {
    transform: translateY(-60px);
    margin-top: 0;
}