.Image-box {
    background-color: rgb(90, 25, 255);
    width: 300px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 25px 40px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
}

.Image-box img {
    width: 100%; /* La imagen ocupar치 todo el ancho del contenedor */
    height: auto; /* Mantendr치 la proporci칩n de la imagen */
    border-radius: 10px;
    object-fit: cover; /* Ajusta la imagen para que llene el espacio */
    max-width: 100%; /* Evita que la imagen sea m치s grande que el contenedor */
    max-height: 100%;
    border: 2px solid white;
}