footer {
  padding: 20px 0;
  margin-top: 50px;
}

.footer-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}